/* Ocupa toda la pantalla */
:host {
  display: block;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  background-color: #f5f5f5;
  padding: 2rem;
  box-sizing: border-box;
}

/* Contenedor principal */
.doctors-container {
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
}

/* Grid de doctores */
.attendants-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(280px, 1fr));
  gap: 1.5rem;
}

/* Tarjeta individual */
.attendant-card {
  background-color: white;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: end;
  img {
    width: 100px;
  }
}

.attendant-card h2 {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.attendant-card p {
  margin: 0.3rem 0;
}
