.sky-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 80vh;
}

.sky-panel {
  width: 100%;
  max-width: 400px;
}

.sky-form-group {
  margin-bottom: 1rem;
}
.contact {
  display: flex;
  flex-direction: column;
}

.toggleButton {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 16px;
}

@media (max-width: 768px) {
  .sky-container {
    flex-direction: column;
    justify-content: space-evenly;
  }
}
@media (max-width: 300px) {
  .logo {
    width: 100%;
  }
}
