.selects {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 15px;
}
.selectDiv {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 768px) {
  .selects {
    flex-direction: column;
  }
  .selectDiv {
    flex-direction: column;
  }
}
