<sky-modal>
  <sky-modal-header> Confirmar turno completado </sky-modal-header>

  <sky-modal-content>
    ¿Estás seguro de que querés completar este turno?
  </sky-modal-content>

  <sky-modal-footer>
    <div class="buttons">
      <button type="button" class="sky-btn sky-btn-default" (click)="cancel()">
        Cancelar
      </button>
      <button type="button" class="sky-btn sky-btn-primary" (click)="confirm()">
        Aceptar
      </button>
    </div>
  </sky-modal-footer>
</sky-modal>
