<div class="user-profile-container">
  <aside class="sidebar">
    <ul>
      <li [class.active]="activeSection === 'Mi cuenta'">
        <button (click)="activeSection = 'Mi cuenta'">Mi cuenta</button>
      </li>

      <li [class.active]="activeSection === 'Mis turnos'">
        <button (click)="activeSection = 'Mis turnos'">
          <span *ngIf="user?.role === 'client'">Mis turnos</span>
          <span *ngIf="user?.role !== 'client'">Turnos clientes</span>
        </button>
      </li>

      <li
        [class.active]="activeSection === 'Mis horarios'"
        *ngIf="user?.role === 'attendant'"
      >
        <button (click)="activeSection = 'Mis horarios'">Mis horarios</button>
      </li>

      <li
        [class.active]="activeSection === 'Coberturas Médicas'"
        *ngIf="user?.role === 'admin'"
      >
        <button (click)="activeSection = 'Coberturas Médicas'">
          Coberturas Médicas
        </button>
      </li>

      <li [class.active]="activeSection === 'Mis reseñas'">
        <button (click)="activeSection = 'Mis reseñas'">Mis reseñas</button>
      </li>
    </ul>
  </aside>

  <app-profile-section
    *ngIf="activeSection === 'Mi cuenta'"
    [user]="user"
    [reviews]="reviews"
    [turns]="turns"
    class="profile-section"
  ></app-profile-section>
  <app-turns-information
    class="profile-section"
    *ngIf="activeSection === 'Mis turnos'"
    [user]="user"
  ></app-turns-information>
  <app-reviews-info
    class="profile-section"
    *ngIf="activeSection === 'Mis reseñas'"
    [user]="user"
  ></app-reviews-info>
  <app-my-schedule
    class="profile-section schedule"
    *ngIf="activeSection === 'Mis horarios' && user?.role === 'attendant'"
    [user]="user"
  ></app-my-schedule>
  <app-add-socialwork
    class="profile-section schedule"
    *ngIf="activeSection === 'Coberturas Médicas' && user?.role === 'admin'"
    [user]="user"
  ></app-add-socialwork>
</div>
