<div class="doctors-container">
  <app-doctors-headers [user]="user"></app-doctors-headers>

  <app-doctors-select
    *ngIf="socialWorks"
    [user]="user"
    [socialWorks]="socialWorks"
    [socialwork]="socialwork"
  ></app-doctors-select>

  <ng-container
    *ngIf="activeAttendants && activeAttendants.length > 0; else noAttendants"
  >
    <div class="attendants-grid">
      <div class="attendant-card" *ngFor="let attendant of activeAttendants">
        <app-doctors-info
          [user]="user"
          [attendant]="attendant"
        ></app-doctors-info>

        <app-doctors-buttons
          [user]="user"
          [attendant]="attendant"
        ></app-doctors-buttons>
      </div>
    </div>
  </ng-container>

  <ng-template #noAttendants>
    <app-doctors-not-found [user]="user"></app-doctors-not-found>
  </ng-template>
</div>
