<sky-navbar class="custom-navbar">
  <div class="navbar-container">
    <!-- Logo -->
    <a routerLink="/" class="navbar-logo-link">
      <img src="/SAFE365-2.png" alt="Logo de la empresa" class="navbar-logo" />
    </a>

    <!-- Botón hamburguesa -->
    <button class="navbar-toggle" (click)="isMenuOpen = !isMenuOpen">
      &#9776;
    </button>

    <!-- Items -->
    <div class="navbar-links" [class.active]="isMenuOpen">
      <sky-navbar-item><a routerLink="/">Inicio</a></sky-navbar-item>

      <sky-navbar-item>
        <sky-dropdown>
          <sky-dropdown-button>Turnos</sky-dropdown-button>
          <sky-dropdown-menu>
            <sky-dropdown-item>
              <a routerLink="/turns">Mis turnos</a>
            </sky-dropdown-item>
          </sky-dropdown-menu>
        </sky-dropdown>
      </sky-navbar-item>

      <sky-navbar-item>
        <sky-dropdown>
          <sky-dropdown-button>Médicos</sky-dropdown-button>
          <sky-dropdown-menu>
            <sky-dropdown-item>
              <a routerLink="/all/attendants">Ver todos los médicos</a>
            </sky-dropdown-item>
            <sky-dropdown-item *ngIf="isAdmin()">
              <a routerLink="/register/doctor">Registrar nuevo médico</a>
            </sky-dropdown-item>
          </sky-dropdown-menu>
        </sky-dropdown>
      </sky-navbar-item>

      <sky-navbar-item *ngIf="user"
        ><a routerLink="/reviews">Mis reseñas</a></sky-navbar-item
      >

      <sky-navbar-item *ngIf="user"
        ><a routerLink="/account" routerLinkActive="sky-navbar-item-active"
          >Mi cuenta</a
        ></sky-navbar-item
      >

      <sky-navbar-item *ngIf="!user?.id">
        <a routerLink="/login" routerLinkActive="sky-navbar-item-active"
          >Iniciar Sesión</a
        >
      </sky-navbar-item>

      <sky-navbar-item *ngIf="openRegister()"
        ><a
          routerLink="{{ getRouteRegister() }}"
          routerLinkActive="sky-navbar-item-active"
          >Registrar</a
        ></sky-navbar-item
      >

      <sky-navbar-item *ngIf="user?.id">
        <a routerLink="/" (click)="logout()">Cerrar sesión</a>
      </sky-navbar-item>
    </div>
  </div>
</sky-navbar>
