<div class="icons">
  <a href="https://www.linkedin.com/in/nahuel-moron-478712271" target="_blank">
    <i class="fa-brands fa-linkedin fa-2x"></i>
  </a>

  <a href="https://github.com/NahuelMoron1" target="_blank">
    <i class="fa-brands fa-square-github fa-2x"></i>
  </a>

  <a href="" target="_blank"> <i class="fa-solid fa-envelope fa-2x"></i> </a>

  <a href="https://www.instagram.com/moronnahuu1/" target="_blank">
    <i class="fa-brands fa-square-instagram fa-2x"></i>
  </a>

  <a href="https://www.facebook.com/nahu.moron" target="_blank">
    <i class="fa-brands fa-square-facebook fa-2x"></i>
  </a>
</div>
