<sky-modal>
  <sky-modal-content>
    <div class="password-modal-container">
      <h2>Validar contraseña</h2>

      <label for="password">Contraseña:</label>
      <input
        id="password"
        type="password"
        [(ngModel)]="password"
        placeholder="Ingrese su contraseña"
      />

      <div class="buttons">
        <button class="validate" (click)="checkPasswordModal()">Validar</button>
        <button [routerLink]="['/account']">Mi cuenta</button>
      </div>
    </div>
  </sky-modal-content>
</sky-modal>
