.schedule-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
  margin: 1rem auto;
  font-family: Arial, sans-serif;
}

.day-row {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.day-label {
  min-width: 90px;
  font-weight: bold;
}

.time-selects {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

select {
  width: 70px;
  text-align: center;
  padding: 0.3rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  appearance: none; /* estándar */
  -webkit-appearance: none; /* Chrome, Safari */
  -moz-appearance: none; /* Firefox */
  background: white; /* para evitar que quede transparente */
}

.separator {
  font-weight: bold;
}

.selects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.confirm {
  background-color: #2c3e50;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: bold;
  border: 0;
  border-radius: 5px;
  width: fit-content;
}

@media (max-width: 350px) {
  .day-row {
    flex-direction: column;
  }
}

@media (max-width: 160px) {
  .time-selects {
    display: flex;
    flex-direction: column;
  }
  .confirm {
    width: 80%;
    font-size: 5px;
  }
}
