<div class="turns-container">
  <div class="turn-column">
    <h3>Completados</h3>
    <div class="turn-card completed" *ngFor="let turn of completedTurns">
      <p><strong>Fecha:</strong> {{ turn.date | date : "short" }}</p>
      <p><strong>Lugar:</strong> {{ turn.place }}</p>
      <p><strong>Paciente:</strong> {{ turn.User?.fullName }}</p>
      <p>
        <strong>Obra social del paciente:</strong>
        {{ turn.User?.Socialwork?.name }}
      </p>
      <p><strong>Médico:</strong> {{ turn.Attendant?.fullName }}</p>
      <p>Click sobre el turno para ver opciones</p>
    </div>
  </div>

  <div class="turn-column">
    <h3>Programados</h3>
    <div
      (click)="openTurnModal(turn)"
      class="turn-card scheduled"
      *ngFor="let turn of scheduledTurns"
    >
      <p><strong>Fecha:</strong> {{ turn.date | date : "short" }}</p>
      <p><strong>Lugar:</strong> {{ turn.place }}</p>
      <p><strong>Paciente:</strong> {{ turn.User?.fullName }}</p>
      <p>
        <strong>Obra social del paciente:</strong>
        {{ turn.User?.Socialwork?.name }}
      </p>
      <p><strong>Médico:</strong> {{ turn.Attendant?.fullName }}</p>
      <p>Click sobre el turno para ver opciones</p>
    </div>
  </div>

  <div class="turn-column">
    <h3>Cancelados</h3>
    <div class="turn-card canceled" *ngFor="let turn of canceledTurns">
      <p><strong>Fecha:</strong> {{ turn.date | date : "short" }}</p>
      <p><strong>Lugar:</strong> {{ turn.place }}</p>
      <p><strong>Paciente:</strong> {{ turn.User?.fullName }}</p>
      <p>
        <strong>Obra social del paciente:</strong>
        {{ turn.User?.Socialwork?.name }}
      </p>
      <p><strong>Médico:</strong> {{ turn.Attendant?.fullName }}</p>
      <p>Click sobre el turno para ver opciones</p>
    </div>
  </div>
</div>
