<div class="search-container">
  <input
    type="text"
    [(ngModel)]="searchTerm"
    (input)="onInputSearch()"
    placeholder="Buscar doctor..."
    class="search-input"
  />

  <ul class="results-list" *ngIf="filteredUsers && filteredUsers.length > 0">
    <li
      *ngFor="let user of filteredUsers"
      class="result-item"
      (click)="selectUser(user)"
      (keydown.enter)="selectUser(user)"
      tabindex="0"
    >
      <img
        *ngIf="user.profileImage"
        [src]="user.profileImage"
        alt="profile"
        class="avatar"
      />
      <span>{{ user.fullName }}</span>
    </li>
  </ul>
</div>
